:root {
   
    --card-bg: #5e82a7; 
    --table-container-bg: #10243e; 
    --tag-cyan: #1DC3C6;
    --text-dark: #031425;
}
.admin-container { 
    width: 99.5% !important; 
    max-width: 1800px !important; 
    margin: 0 auto !important; 
    padding-top: 1rem;
    box-sizing: border-box;
}
.welcome-text { 
    font-size: 1.6rem; 
    margin-bottom: 1.5rem; 
    font-weight: bold; 
    color: white;
}

.input-group-container {
    background: var(--table-container-bg) !important;
    border-radius: 20px;
    padding: 18px 30px;
    margin-bottom: 2rem;
    align-items: center;
    gap: 15px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    
}
.custom-input {
    background: rgba(255, 255, 255, 0.1) !important;
    border: 1px solid rgba(255, 255, 255, 0.2) !important;
    border-radius: 20px;
    padding: 12px 20px;
    color: white;
    width: 320px !important;
    outline: none;
    margin-right: 15px;
}
.btn-add {
    background: var(--tag-cyan) !important;
    color: var(--text-dark) !important;
    border: none;
    border-radius: 15px ;
    padding: 10px 25px;
    font-weight: 800;
    width: auto !important;    
    cursor: pointer;
    white-space: nowrap;
    align-items: center;
    gap: 8px;
}
.btn-add:hover {
    transform: translateY(-2px);
}

.tags-container {
    background: var(--table-container-bg) !important;
    border-radius: 20px;
    padding: 2rem; 
    min-height: 400px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15); 
}
.tags-container h2 {
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    margin-bottom: 1.5rem;
}

.areas-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
}

.area-tag {
    background: var(--tag-cyan) !important;
    color: var(--text-dark) !important;
    padding: 10px 20px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    gap: 12px;
    font-weight: 700;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}
.btn-delete-tag {
    cursor: pointer;
    font-size: 1.1rem;
    transition: transform 0.1s;
}
.btn-delete-tag:hover {
    transform: scale(1.2);
    color: black;
}