:root {
    --primary-blue: #244A75;
    --dark-bg: #031425;
    --light-bg: #f4f7f6;
    
    --font-heading: 'Sansation', sans-serif;
    --font-body: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

html {
    font-size: 14px;
    position: relative;
    min-height: 100%;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

body {
    margin-bottom: 60px;
    font-family: var(--font-body);
    background: linear-gradient(to bottom, #4684C3, #031425) !important;
    background-attachment: fixed !important;
    min-height: 100vh;
    color: #333;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-heading);
    font-weight: bold;
    color: var(--primary-blue);
}

.dashboard-card {
    background: white;
    border-radius: 20px;
    padding: 25px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
    border: none;
    transition: transform 0.2s ease;
}

.dashboard-card:hover {
    transform: translateY(-2px);
}

.btn:focus, .btn:active:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem var(--primary-blue);
    border-color: var(--primary-blue);
}
